body { font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif; background: url(../img/background.png); background-repeat: repeat; background-position: center top; }

header { background: url(../img/header_title_background.png); background-repeat: repeat-x; background-position: left center; margin-top: 53px; }
header #header-title { width: 325px; height: 36px; background: url(../img/header_title.png); background-repeat: no-repeat; margin: 0 auto; }

#main { width: 960px; margin: 0 auto; }
#main-content { padding-top: 56px; padding-bottom: 42px; }

.main-content-image-wrap { width: 359px; height: 242px; position: relative; float: left; margin: 0 26px 0 70px; }
.main-content-image-tape { width: 92px; height: 96px; background: url(../img/image_frame_tape.png); background-repeat: no-repeat; position: absolute; z-index: 3; top: -29px; left: -26px; }
.main-content-image-frame { width: 359px; height: 242px; background: url(../img/image_frame.png); background-repeat: no-repeat; position: absolute; z-index: 2; }
.main-content-image { width: 345px; height: 228px; position: absolute; z-index: 1; top: 6px; left: 7px; }
.main-content-image img { width: 345px; height: 228px; }

.main-content-text { width: 450px; min-height: 242px; float: left; position: relative; }
.main-content-text div { top: 50%; position: absolute; margin-top: -80px; visibility: hidden; }
.main-content-text h2 { font-family: 'Lobster', Helvetica, Arial, sans-serif; font-size: 22px; color: #fff; font-weight: normal; text-shadow: #0d0d0d 0 1px 0; padding-bottom: 2px; }
.main-content-text p { font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; color: #bfbfbf; text-shadow: #0d0d0d 0 1px 0; line-height: 22px; padding-top: 3px; }

#progressbar-frame { width: 815px;height: 34px;padding: 7px 6px 5px 6px;background: url(../img/progressbar_frame.png) no-repeat;margin: 0 auto; }
#progressbar-percentage { width: 815px;height: 34px;line-height: 34px;position: absolute;z-index: 20;text-align: center;font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;font-size: 14px;font-weight: bold;color: #9c9c9c;text-shadow: #212121 0 1px 0; }
#progressbar-fill-frame { width: 502px;height: 34px;overflow: hidden;position: relative; }
#progressbar-fill { width: 500px;height: 32px;background: url(../img/progressbar_fill.png) repeat-x;position: absolute;z-index: 5;margin: 0 1px; }
#progressbar-fill-stripes { width: 915px;height: 32px;background: url(../img/progressbar_fill_stripe.png) repeat-x; }
#progressbar-fill-frame-left { float: left;width: 4px;height: 34px;background: url(../img/progressbar_fill_frame_left.png) no-repeat;position: relative;z-index: 10; }
#progressbar-fill-frame-right { float: right;width: 4px;height: 34px;background: url(../img/progressbar_fill_frame_right.png) no-repeat;position: relative;z-index: 10; }
#progressbar-fill-frame-middle { overflow: hidden;height: 34px;background: url(../img/progressbar_fill_frame_middle.png) repeat-x;position: relative;z-index: 10; }

.seperator { background: url(../img/seperator_background.png); background-repeat: repeat-x; background-position: left center; min-height: 1px; }

#countdown-title { margin-bottom: 11px; }
#countdown-title div { width: 217px; height: 22px; background: url(../img/countdown_title.png); background-repeat: no-repeat; margin: 0 auto; }
#countdown-numbers { width: 800px; margin: 0 auto; padding-bottom: 23px; }
#countdown-numbers ul { list-style: none; margin: 0; }
#countdown-numbers ul li { font-family: 'Cabin Sketch', Helvetica, Arial, sans-serif; text-align: center; width: 200px; float: left; }
#countdown-numbers ul li strong { font-size: 75px; color: #fff; display: block; }
#countdown-numbers ul li small { font-size: 24px; color: #9a9a9a; display: block; margin-top: -19px; }

#notify { padding-top: 28px; padding-bottom: 34px; }
#notify h3 { font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: bold; color: #919191; text-align: center; }
#notify-form { width: 353px; height: 45px; overflow: hidden; margin: 0 auto; margin-top: 18px; }
#notify-input { width: 236px; height: 27px; overflow: hidden; background: url(../img/input_background.png); background-repeat: no-repeat; padding: 9px 12px; float: left; }
#notify-input input { font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; height: 27px; line-height: 26px; font-size: 15px; font-weight: normal; color: #818181; text-shadow: #0d0d0d 0 1px 0; background: transparent; border: none; outline: none; width: 236px; }
#notify-input input.error { background: transparent url(../img/status_icon_fail.png) no-repeat center right; width: 210px; padding-right: 26px; }
#notify-submit { float: right; padding-top: 4px; }

.notify-steps { height: 135px; }
.notify-step { height: 45px; }
.notify-step.text { line-height: 45px; text-align: center; }
.notify-step.text img { margin: 0 5px -5px 0; }

#copyright { line-height: 45px; text-align: center; }

#social-links ul { list-style: none; margin: 0; text-align: center; padding-bottom: 30px; }
#social-links ul li { display: inline; padding: 0 11px; }